footer{
    background-color: #191919;
    color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
}

.address{
    font-size: 20px;
    margin-bottom: 10px;
}

.copyRight{
    font-size: 19px;
}