nav{
    background-image: url(../image/12193885_549490645220247_8782877344800722775_n-750x400.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    background-attachment: fixed;
    position: relative;
}
.overlay{
position: absolute;
bottom: 0;
width: 100%;
height: 100%;
background-color:black;
opacity: 0.5;

}
.head-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 140px;
    background-color: rgb(99, 90, 107);
    margin: 20px 40px;
    color: white;
    cursor: pointer;
}

.logo img{
    height: 35px;
    width: 100px;
}

.menu{
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

.menu li{
    list-style: none;
    font-size: 20px;
    padding: 0px 16px;
    cursor: pointer;
    color: white;
}
.div{
    height: 700px;
}
.btn{
    z-index: 1;
    outline: none;
    width: 154px;
    border-radius: 46px;
    height: 47px;
    font-weight: 600;
    border: none;
    background-color: rgb(255, 52, 52);
    color: white;
    margin: 20px 40px;
    cursor: pointer;
}

.burger{
    z-index: 1;
    width: 36px;
    height: 36px;
    background-color: red;
    position: absolute;
    right:50px;
    top: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger span{
    margin: 3px  0px ;
        height: 3px;
        width: 100%;
        background-color: black;
}

.description{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.description p{
    letter-spacing: 1px;
    position: relative;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.line{
    background-color: red;
    width: 100px;
    height: 2px;
    z-index: 1;
   
}
.description h2{
    font-size: 64px;
    color: white;
}


.lrnBtn{
    z-index: 1;
    outline: none;
    width: 154px;
    border-radius: 46px;
    height: 47px;
    font-weight: 600;
    border: none;
    background-color: rgb(255, 52, 52);
    color: white;
    margin: 20px 40px;
    cursor: pointer;
}


@media (max-width:970px) {
    .menu{
        display: none;
        flex-direction: column;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100px;
    background-color: white;
    margin: 0;
    z-index: 1;
    /* color: black; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }
    .menu li{
        margin: 5px 0px;
        font-size: 30px;
        color: black;
        overflow: hidden;
    }
    .active{
        display: flex;
     }
    .burger{
        display: flex;
    }
    .line{
        z-index: 0;
    }
}

@media (max-width:660px){
    .description p{
        font-size: 18px;
    }
    .description h2{
        font-size: 45px;
    }
}

@media (max-width:500px){
    .description h2{
        font-size: 35px;
    }
}